


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*---------   Body  ---------*/
:root{
    --blueColor : #020659;
    --orangeColor :#E8540C;
    --lightgrey : #f2f2f2;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(76, 69, 69, 0.007);
    opacity: 1.2;
}
/*---------container---------*/
.container{
    
    margin-top: 60px;
    display: flex;
    /* border: 1px solid black; */
    width: 80%;
    height: 800px;
    
    background-color: #f1f1f1;
    box-shadow: 2px 2px 100px black;
}
/*---------    container-left  ----*/
.container-left{
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
}
/*---------  les blocs  ----*/

/*---------  premier bloc  ----*/
.first-bloc{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    
    
}
/*---------  images et btn  ----*/
.first-bloc .image-prix{
    
    width: 60%;
    height: 90%;
    animation-name: fauteil;
    animation-duration: 4s;
    
}
.image-prix img:hover{
    font-weight: 500px;
    cursor: pointer;
    transform: scale(1.5);
}
.image-prix img{
    width: 100%;
    height: 100%;
    
    animation-duration: 2s;
    /* background-color: lightcoral; */

}
.image-prix p {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}
.btn{
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    
    flex-direction: column;
    justify-content: space-around;
   
}
.btn button{
    
    font-size: 15px;
    width: 15%;
    color: white;
    background-color: orangered;
    border: none;
    height: 10%;
    
}
.btn button:hover{
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
    
    animation-duration: 2s;
    /* transform:  translateX(50px) ; */
    
    /* transition-timing-function: linear; */
     
 }

.btn .achat{
    height: 20%;
   width: 40%;
    color: white;
    background-color: orangered;
    
}
.btn .achat:hover{
   background-color: black;
   cursor: pointer;
    
}



/*---------  container-right ---------*/
.container-right{
    /* border: 1px solid blue; */
    width: 50%;
    height: 100%;
}

/*---------  affichage pour l'achat ---------*/
 .top{
    width: 100%;
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
   align-items: center;
 }

 .mini{
    margin-left: 5px;
    width: 20%;
    height: 60%;
    border: 1px solid black;
 }
 .mini img{
    width: 100%;
    height: 100%;
 }

 .ecriture{
    width: 60%;
    height: 70%;
     border: 1px solid blue; 
 }

 .container-right button{
    color: white;
    background-color: orangered;
    font-size: 20px;
 }

 .btn1:hover{
    background-color: black; 
    cursor: pointer;
 }
/*---------  pub bas ---------*/
 .bottom{
    width: 100%;
    height: 80%;
    
    
    /* border: 1px solid red; */
 }
 .bottom img{
    width: 100%;
    height: 100%;
   
 }

            /*==============animations=========================================*/

 @keyframes fauteil {
    50%{
        transform: translateY(70px); 
        /* rotate: (180deg); */
    }

 }
 @keyframes fauteil1 {
    50%{
        /* scale: (50px); */
        /* rotate: (180deg); */
    }

 }

