@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}



body{
    font-family: raleway sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--blueColor); */
    width: 100%;
    height: 100vh;
}

.container{
    /* border: 1px solid white; */
    width: 700px;
    height: 600px;
    /* background-color: #282C38; */
    /* background-image: url('tecnho.jpg'); */
    display: flex;
}

.container--left{
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: 2px 2px 100px rgba(182, 238, 244, 0.562);
    padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* premier bloc ------------------------------------------------------------------*/
.first--bloc{
    /* border: 1px solid blue; */
    height: 30%;
    width: 100%;
    display: flex;
}

/* enfant premier bloc*/
.image{
    /* border: 1px solid black; */
    width: 70%;
    height: 100%;
    /* background-color: #6F2C13; */
}

.image img{
    width: 100%;
    height: 100%;
}

.btn{
    /* border: 1px solid antiquewhite; */
    width: 30%;
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: #E8540C; */
}


/* second bloc ------------------------------------------------------------------*/
.second--bloc{
    border-top: 1px solid pink;
    height: 30%;
    width: 100%;
    display: flex;
}

/* enfant premier bloc*/
.image{
    /* border: 1px solid aqua; */
    width: 70%;
    height: 100%;
}

.photo{
    width: 100%;
    height: 90%;
    transition-duration: 1s;
}

.photo:hover{
    width: 100%;
    height: 90%;
    transform: scale(1.5);
}

.image p{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}

.btn{
    /* border: 1px solid antiquewhite; */
    width: 30%;
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}



/* third bloc ------------------------------------------------------------------*/
.third--bloc{
    border-top: 1px solid pink;
    height: 30%;
    width: 100%;
    display: flex;
}

/* enfant premier bloc*/
.image{
    /* border: 1px solid aqua; */
    width: 70%;
    height: 100%;
}

.image img{
    width: 100%;
    height: 100%;
}

.btn{
    /* border: 1px solid antiquewhite; */
    width: 30%;
    height: 100%;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn--plus{
    width: 30px;
    height: 30px;
    background-color: #E8540C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50rem;
    transition-duration: 1s;
}

.btn--plus:hover{
    background-color: var(--blueColor);
    transform: rotate(360deg);
}

.btn--moins{
    width: 30px;
    height: 30px;
    background-color: #E8540C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50rem;
    transition-duration: 1s;
}
.btn--moins:hover{
    background-color: var(--blueColor);
    transform: rotate(360deg);
}


.btn--panier{
    width: 30px;
    height: 30px;
    background-color: #E8540C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.2rem;
}


button{
    color: white;
    background-color: #E8540C;
    border: none;
    width: 100%;
    height: 30px;
}

button:hover{
    background-color: var(--blueColor);
}



/* -------------------------------------------------------------- alignement droit*/
.container--right{
    /* border: 1px solid blue; */
    background-color: white;
    box-shadow: 2px 2px 100px rgba(182, 238, 244, 0.562);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* justify-content: space-between; */
}

.product--information{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 15%;
    padding: 10px;
    display: flex;
}

.image--min{
    /* border: 1px solid blue; */
    width: 25%;
    height: 100%;
}

.information{
    width: 75%;
    height: 100%;
    padding-left: 10px;
}

.image--min img{
    width: 100%;
    height: 100%;
}

.quantité{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
}

.quantité div{
    /* border: 1px solid red; */
    width: 30px;
    height: 25px;
    text-align: center;
    margin-left: 0.5rem;
    background-color: var(--orangeColor);
    color: #f2f2f2;
    border-radius: 0.2rem;
    /* display: flex; */
}

h5{
    color: var(--orangeColor);
    font-weight: bold;
    font-size: 15px;
}

.remove{
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove:hover{
    background-color: var(--blueColor);
    transform: rotate(360deg);
}

.black{
    /* border: 1px solid var(--blueColor); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.black img{
    width: 100%;
    height: 100%;
}

.paner{
    position: absolute;
    background-color: var(--blueColor);
    color: #f2f2f2;
    right: 46rem;
    top: 7rem;
    /* border: 1px solid red; */
    width: 20px;
    height: 20px;
    border-radius: 50rem;
    text-align: center;
}

/* #show1{
    display: none;
} */
